<div class="form-inline.clearfix">
<div class="nested-fields">
	<br>
	<div class ="col-lg-4">
    <%= f.label 'Nazwa' %>
    <%= f.text_field :name, class: "form input form-control" %>
    </div>
    <div class ="col-lg-4">
    <%= f.label 'Numer seryjny' %>
    <%= f.text_field :serial_number, class: "form input form-control" %>
    </div>
    <div class ="col-lg-4">
    <%= f.label 'Opis' %>
    <%= f.text_field :description, class: "form input form-control" %>
    </div>
      <br>
   &nbsp; &nbsp;&nbsp;<%= link_to_remove_association "usuń komponent", f %>
<br>
</div>
</div>