<%= form_for([@service.user, @service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well bs-component">

  <div class="field">
    <%= f.label "Nazwa" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Opis urządzenia" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Właściciel" %><br>
    <%= f.select :owner_of_equipment, options_for_select(["GRUNE","Mieszane","Użytkownik"]), {}, {class: "form-control", data: {width: 'auto'}} %>
  </div><br />

  <div class="field">
    <%= f.label "Serwisowany?" %>
    <%= f.check_box :is_serviced, class: "checkbox inline", id: 'checkbox' %>
  </div><br />
  
  <div id="delivery">
  <div class="field">
    <label class="control-label" for="start_date">Początek wsparcia</label><br />
      <%= f.text_field(:start_date, class: "form-control datepicker", :'data-date-format' => "YYYY-MM-DD 00:00:00" ) %>
  </div><br />
  <div class="field">
    <label class="control-label" for="end_date">Koniec wsparcia</label><br />
      <%= f.text_field(:end_date, class: "form-control datepicker", :'data-date-format' => "YYYY-MM-DD 23:59:59" ) %>
  </div><br />
</div>


  <h3>Komponenty urządzenia</h3>
 <%= f.fields_for :components do |fields| %>
        <%= render 'component_fields', :f => fields %>
    <% end %>

    <div id='links'>
      <br />
      <%= link_to_add_association 'Dodaj pole', f, :components %>
    </div>
    <br /><br />
    <%= submit_tag("Stwórz urządzenie", class: "btn btn-success") %>
  </div> </div>
<% end %>


  <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({


                  });
            });


var checkbox = document.getElementById('checkbox');
var delivery_div = document.getElementById('delivery');
var showHiddenDiv = function(){
   if(checkbox.checked) {
     delivery_div.style['display'] = 'block';
   } else {
     delivery_div.style['display'] = 'none';
   } 
}
checkbox.onclick = showHiddenDiv;
showHiddenDiv();
</script>
