<%= form_for([@service.user, @service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :owner_of_equipment %><br>
    <%= f.text_field :owner_of_equipment, class: "form-control" %>
  </div><br />

  <div class="field">
    <%= f.label :is_serviced %>
    <%= f.check_box :is_serviced, class: "checkbox inline", id: 'checkbox' %>
  </div><br />
  
  <div id="delivery">
  <div class="field">
    <label class="control-label" for="start_date">Start Time</label><br />
      <%= f.text_field(:start_date, class: "form-control datepicker", :'data-date-format' => "YYYY-MM-DD" ) %>
  </div><br />
  <div class="field">
    <label class="control-label" for="end_date">End Time</label><br />
      <%= f.text_field(:end_date, class: "form-control datepicker", :'data-date-format' => "YYYY-MM-DD" ) %>
  </div><br />
</div>
  <div class = "form-buttons">
    <%= submit_tag("Create Service", class: "btn btn-success") %>
  </div>
<% end %>

  <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({


                  });
            });

var checkbox = document.getElementById('checkbox');
var delivery_div = document.getElementById('delivery');
var showHiddenDiv = function(){
   if(checkbox.checked) {
     delivery_div.style['display'] = 'block';
   } else {
     delivery_div.style['display'] = 'none';
   } 
}
checkbox.onclick = showHiddenDiv;
showHiddenDiv();
</script>
