


<div class = "panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Equipment and Services</h3>
    </div>
    <div class="panel-body">
      <br />
      <div class="row text-center pagination-centered">
      <%= link_to("Back to Users", users_path, class: "btn btn-primary glyphicon glyphicon-chevron-left") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to("Add New Service", new_user_service_path, class: "btn btn-success glyphicon glyphicon-plus") %>
</div>
  <br /><br />
  <table class = "table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner of Equipment</th>
      <th>Is Serviced?</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Actions</th>
      <th>Invoices</th>
      <th>Packages</th>
    </tr>
    </thead>

    
    <tbody>
      <% @services.each do |service| %>
    <tr>
        <td><%= truncate(service.name, length: 10) %></td>
        <td><%= truncate(service.description, length: 18, separator: ' ') %></td>
        <td><%= service.owner_of_equipment %></td>
        <td><%= service.status %></td>
        <td><%= service.try(:start_date).try(:to_date) %></td>
        <td><%= service.try(:end_date).try(:to_date) %></td>
        <td><%= truncate(service.user.lastname, length: 10) if service.user %></td>
        <td><%= link_to("", [service.user, service], :class => 'action show', class: "btn btn-info glyphicon glyphicon-info-sign") %>
        <%= link_to("", edit_user_service_path(service.user, service), :class => 'action edit', class: "btn btn-warning glyphicon glyphicon-pencil") %>
        <%= link_to '', [service.user, service], method: :delete, data: { confirm: 'Are you sure you want to delete this equipment?' }, class: "btn btn-danger glyphicon glyphicon-trash"%></td>

        <td><%= link_to "", new_service_invoice_path(service), class: "btn btn-success glyphicon glyphicon-plus"%>
        <%= link_to "", service_invoices_path(service), class: "btn btn-info glyphicon glyphicon-search"%></td>

        <td><%= link_to "", new_service_package_path(service), class: "btn btn-success glyphicon glyphicon-plus"%>
        <%= link_to "", service_packages_path(service), class: "btn btn-info glyphicon glyphicon-search"%></td>
    </tr>
    <% end %>
  </tbody>
    
  </table>
</div>


</div>
<br />
<h1>Calendar View:</h1>
<br /><br />
<div id="calendar"></div>



<script type="text/javascript">
$(document).ready(function() {
            var user_path = window.location.pathname;
            var user_id1 = user_path.split('/');
            var user_id = user_id1[2];
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar(

            {

dayClick: function(date, allDay, jsEvent, view) {

    },



                header: {
                    left: 'prev,next today',
                    center: 'title',
                },

                editable: true,
                height: 450,
                timeFormat: ' ',
                    events: {
                          url: '/users/'+ user_id +'/services.json',
                          type: 'GET',
                          error: function() {
                              alert('there was an error while fetching events!');
                          },
                          backgroundColor: '#3399f3',
                          textColor: '#000000'
                    }
            });

        });

</script>

<br /><br />
<%= link_to("Back to Users", users_path, class: "btn btn-primary glyphicon glyphicon-chevron-left") %>
<br /><br />