


<div class = "panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Equipment and Services</h3>
    </div>
    <div class="panel-body">
      <br />
      <%= link_to("<< Back to Users", users_path, class: "btn btn-info") %>

  <br /><br /><br />
  <table class = "table table-striped table-hover" id = "services">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Own equipment</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    
    <tbody>
      <% @services.each do |service| %>
    <tr>
      <tr>
        <td><%= service.name %></td>
        <td><%= truncate(service.description, length: 20, separator: ' ') %></td>
        <td><%= service.status %></td>
        <td><%= service.try(:start_date).try(:to_date) %></td>
        <td><%= service.try(:end_date).try(:to_date) %></td>
        <td><%= service.user.email if service.user %></td>
        <td><%= link_to("Details", {:action => 'show', :id => service.id}, :class => 'action show', class: "btn btn-info") %></td>
        <td><%= link_to("Edit", {:action => 'edit', :id => service.id, :user => service.user_id}, :class => 'action edit', class: "btn btn-warning") %></td>
        <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure you want to delete this equipment?' }, class: "btn btn-danger"%></td>
      </tr>
    </tr>
    <% end %>
  </tbody>
    
  </table>
</div>

</div>

<div id="calendar"></div>



<script type="text/javascript">
$(document).ready(function() {
            var user_path = window.location.pathname;
            var user_id1 = user_path.split('/');
            var user_id = user_id1[2];
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar(

            {

dayClick: function(date, allDay, jsEvent, view) {

    },



                header: {
                    left: 'prev,next today',
                    center: 'title',
                },

                editable: true,
                height: 450,
                    events: {
                          url: '/users?'+ user_id +'/services.json',
                          type: 'GET',
                          error: function() {
                              alert('there was an error while fetching events!');
                          },
                          backgroundColor: '#272b30',
                          textColor: '#eee8d5'
                    }
            });

        });

</script>