<div class = "panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Urządzenia oraz serwis (lista wszystkich elementów niezależnie od Użytkownika):</h3>
    </div>
    <div class="panel-body">
  <table class = "table table-striped table-hover" id = "services">
    <thead>
    <tr>
      <th>LP</th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Właściciel</th>
      <th>Początek wsparcia</th>
      <th>Koniec wsparcia</th>
      <th>E-mail</th>
      <th>Imię</th>
      <th>Nazwisko</th>
    </tr>
    </thead>

    
    <tbody>
      <% @services.each_with_index do |service, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= service.name %></td>
        <td><%= truncate(service.description, length: 35) %></td>
        <td><%= service.owner_of_equipment %></td>
        <td><%= service.try(:start_date).try(:to_date) %></td>
        <td><%= service.try(:end_date).try(:to_date) %></td>
        <td><%= service.user.email if service.user %></td>
        <td><%= service.user.name if service.user %></td>
        <td><%= service.user.lastname if service.user %></td>
      </tr>
    <% end %>
  </tbody>
    
  </table>

</div>

</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
$('#services').DataTable({

  // ajax: ...,
  autoWidth: true,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
});
</script>