<%= link_to( {:action => 'index'}, :class => 'back-link', class: "btn btn-primary") do %>
<i class="glyphicon glyphicon-chevron-left"> Back to List</i>
<% end %>
<br /><br />
    <div class="panel panel-info">
        <div class="panel-heading">Service details</div>
        <div class="panel-body">

  <table class = "table table-striped table-hover">
    <tr>
      <th>ID:</th>
      <td><%= @service.id %></td>
    </tr>
    <tr class="active">
      <th>Name:</th>
      <td><%= @service.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= @service.description %></td>
    </tr>
    <tr  class="active">
      <th>Own Equipment:</th>
      <td><%= @service.owner_of_equipment %></td>
    </tr>
    <tr>
      <th>Is Serviced?:</th>
      <td><%= @service.is_serviced %></td>
    </tr>
    <tr class="active">
      <th>Service Start Date:</th>
      <td><%= @service.try(:start_date).try(:to_date) %></td>
    </tr>
    <tr>
      <th>Service End Date:</th>
      <td><%= @service.try(:end_date).try(:to_date) %></td>
    </tr>
    <tr  class="active">
      <th>User:</th>
      <td><%= @service.user.email if @service.user %></td>
    </tr>
  </table>
                </div>
              </div>