<%= link_to( {:action => 'index'}, :class => 'back-link', class: "btn btn-primary") do %>
<i class="glyphicon glyphicon-chevron-left">&nbsp;Powrót do listy</i>
<% end %>
<br /><br />
    <div class="panel panel-info">
        <div class="panel-heading">Szczegóły urządzenia:</div>
        <div class="panel-body">

  <table class = "table table-striped table-hover">
    <tr class="active">
      <th>ID:</th>
      <td><%= @service.id %></td>
    </tr>
    <tr>
      <th>Nazwa:</th>
      <td><%= @service.name %></td>
    </tr>
    <tr class="active">
      <th>Właściciel:</th>
      <td><%= @service.owner_of_equipment %></td>
    </tr>
    <tr>
      <th>Serwisowany?:</th>
      <td><%= @service.status %></td>
    </tr>
    <tr class="active">
      <th>Początek serwisu:</th>
      <td><%= @service.try(:start_date).try(:to_date) %></td>
    </tr>
    <tr>
      <th>Koniec serwisu:</th>
      <td><%= @service.try(:end_date).try(:to_date) %></td>
    </tr>
    <% if current_user.admin? %>
    <tr  class="active">
      <th>Przypisany Użytkownik:</th>
      <td><%= @service.user.email if @service.user %></td>
    </tr>
    <% end %>
  </table>

  <p><strong>Opis:</strong></p><br />
  <p><%= @service.description.gsub(/\n/, '<br/>').html_safe %></p>

  <h2>Komponenty urządzenia:</h2><br />
  <div class="col-md-1">
  <h5><strong>LP:</strong></h5>
  </div>
  <div class="col-md-3">
  <h5><strong>Nazwa:</strong></h5>
  </div>
  <div class="col-md-3">
  <h5><strong>Numer seryjny:</strong></h5>
  </div>
  <div class="col-md-4">
  <h5><strong>Opis komponentu:</strong></h5>
  </div><br /><br />

  <% @service.components.each_with_index do |c, index| %>
  
  <div class="col-md-1">
  <%= index + 1 %>
  </div>
  <div class="col-md-3">
  <%= c.name %>
  </div>
  <div class="col-md-3">
  <%= c.serial_number %>
  </div>
  <div class="col-md-4">
  <%= c.description %>
  </div><br /><br />

  <%end%>
                </div>
              </div>