<div class = "form-group">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :firma %><br>
    <%= f.check_box :firma, class: "form-control", id: 'checkbox' %>
  </div>
  
<div id="delivery" style="display:none;">
  <div class="field">
    <%= f.label :nazwa %><br>
    <%= f.text_field :nazwa, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :REGON %><br>
    <%= f.text_field :REGON, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :NIP %><br>
    <%= f.text_field :NIP, class: "form-control" %>
  </div>
  </div>



  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :kod %><br>
    <%= f.text_field :kod, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :ulica %><br>
    <%= f.text_field :ulica, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :miasto %><br>
    <%= f.text_field :miasto, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <br />
  <div class = "form-buttons">
    <%= submit_tag("Create User", class: "btn btn-success") %>
  </div>
<% end %>
</div>

<script>
var checkbox = document.getElementById('checkbox');
var delivery_div = document.getElementById('delivery');
var showHiddenDiv = function(){
   if(checkbox.checked) {
     delivery_div.style['display'] = 'block';
   } else {
     delivery_div.style['display'] = 'none';
   } 
}
checkbox.onclick = showHiddenDiv;
showHiddenDiv();
</script>