
<% if current_user.admin? %>
<div class="col-lg-13 col-md-pull-1">
<div class = "panel panel-primary">
	<div class="panel-heading">
     <h3 class="panel-title">Uzytkownicy systemu:</h3>
    </div>
    <br /><br />
<div class="row text-center pagination-centered">
<%= link_to( {:action => 'new'}, :class => 'action new', class: "btn btn-success") do %>
<i class="glyphicon glyphicon-plus">&nbsp;Dodaj nowego użytkownika</i>
<% end %><br /><br /></div>
    <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="true" href="#firmy" data-toggle="tab">Firmy</a></li>
                <li class=""><a aria-expanded="false" href="#osoby" data-toggle="tab">Osoby Prywatne</a></li>
              </ul>
    <div class="panel-body">
    	<div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="firmy">
	<table class = "table table-striped table-hover" id="users" >
		<thead>
		<tr>
			<th>E-mail</th>
			<th>Nazwisko</th>
			<th>Nazwa spółki</th>
			<th>NIP</th>
			<th>Telefon</th>
			<th>Telefon komórkowy</th>
			<th>Akcje&nbsp;&nbsp;&nbsp;&nbsp;</th>
			<th>Sprzęt</th>
			<th>Intrukcje</th>	
			<th>Mailing</th>
		</tr>
		
		</thead>

		<tbody>
		<% @organization.each do |f| %>
		<% if f.admin? %>
		<tr class="danger">
		<% else %>
		<tr>
		<% end %>
			<td><%= f.email %></td>
			<td><%= f.lastname %></td>
			<td><%= f.organization_name %></td>
			<td><%= f.NIP %></td>
			<td><%= f.phone %></td>
			<td><%= f.mobile_phone %></td>
			<td>
				<%= link_to("", {:action => 'show', :id => f.id}, :class => 'action show', class: "btn btn-info btn-xs glyphicon glyphicon-info-sign") %>
				<%= link_to( "", {:action => 'edit', :id => f.id}, :class => 'action edit', class: "btn btn-warning btn-xs glyphicon glyphicon-pencil") %>
				<%= link_to '', f, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-danger btn-xs glyphicon glyphicon-trash" %>
			</td>
			<td><%= link_to "", new_user_service_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_services_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_user_instruction_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_instructions_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_info_path(:id => f.id), class: "btn btn-default btn-xs glyphicon glyphicon-envelope"%>
			</td>
		</tr>

		<% end %>
		</tbody>
	</table>
	</div>

	<div class="tab-pane fade" id="osoby">

		<table class = "table table-striped table-hover" id="users1" >
		<thead>
		<tr>
			<th>E-mail</th>
			<th>Nazwisko</th>
			<th>Telefon</th>
			<th>Telefon komórkowy</th>
			<th>Akcje&nbsp;&nbsp;&nbsp;&nbsp;</th>
			<th>Sprzęt</th>
			<th>Instrukcje</th>
			<th>Mailing</th>
		</tr>
		</thead>

		<tbody>
		<% @private_person.each do |o| %>
		<% if o.admin? %>
		<tr class="danger">
		<% else %>
		<tr>
		<% end %>
			<td><%= o.email %></td>
			<td><%= o.lastname %></td>
			<td><%= o.phone %></td>
			<td><%= o.mobile_phone %></td>
			<td>
				<%= link_to("", {:action => 'show', :id => o.id}, :class => 'action show', class: "btn btn-info btn-xs glyphicon glyphicon-search") %>
				<%= link_to("", {:action => 'edit', :id => o.id}, :class => 'action edit', class: "btn btn-warning btn-xs glyphicon glyphicon-pencil")%>
				<%= link_to '', o, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-danger btn-xs glyphicon glyphicon-trash" %>
			</td>
			<td><%= link_to "", new_user_service_path(o), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_services_path(o), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_user_instruction_path(o), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_instructions_path(o), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_info_path(:id => o.id), class: "btn btn-default btn-xs glyphicon glyphicon-envelope"%>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
	</div>
</div>
<div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div>
</div></div></div>
</div>

<% else %>
<div class="col-lg-12 row text-center pagination-centered">
<h3> Zanim zaczniesz! </h3>
<p> W razie potrzeby tutaj znajdziesz link do pobrania aplikacji <a href="https://download.teamviewer.com/download/TeamViewerQS_pl.exe">pomocy zdalnej</a> dla wersji systemu Windows lub <a href="https://download.teamviewer.com/download/TeamViewerQS.dmg">pomocy zdalnej</a> dla wersji systemu Mac. </p> <br />
</div>
<div class="col-lg-8">
<div class="jumbotron">
                <h1>Witaj <%= current_user.name %>!</h1><br />
                <p>Poniżej znajdziesz informacje na temat swojego konta. W razie problemów lub widocznego błędu proszę skontaktuj się z administratorem przy pomocy formularza kontaktowego, wysyłając e-mail pozpośrednio na adres <%= link_to("m.osowski@grune.pl", new_contact_url) %>.</p><br />

                <div class="list-group table-of-contents">
              	<p class="list-group-item">Imię i nazwisko: <strong><%= current_user.name %>&nbsp;<%= current_user.lastname %></strong></p>
              	<p class="list-group-item"> E-mail kontaktowy: <strong><%= current_user.email %></strong></p>
                <% if current_user.phone? %><p class="list-group-item"> Numer telefonu: <strong><%= current_user.phone %></strong></p><% end %>
                <p class="list-group-item"> Numer telefonu komórkowego: <strong><%= current_user.mobile_phone %></strong></p>
                <% if current_user.organization_name? %><p class="list-group-item"> Nazwa firmy: <strong><%= current_user.organization_name %></strong></p><% end %>
                <% if current_user.NIP? %><p class="list-group-item"> NIP firmy: <strong><%= current_user.NIP %></strong></p><% end %>
                <% if current_user.REGON? %><p class="list-group-item"> REGON firmy: <strong><%= current_user.REGON %></strong></p><% end %>
				<p class="list-group-item"> Adres: <strong><%= current_user.postcode %>&nbsp;<%= current_user.street %>&nbsp;<%= current_user.town %></strong></p>
              </div>
 </div>
 </div>
		 <div class="bs-component">
         <div class="col-lg-4 jumbotron">
         	<h5>Tutaj możesz przejść do sekcji ze swoimi urządzeniami.</h5><br />
         	<%= link_to "Pokaż mi moje urządzenia", user_services_path(current_user), class: "btn btn-primary btn-lg"%>
 		</div>
 		<div class="col-lg-4 jumbotron">
         	<h5>Tutaj możesz przejść do sekcji z instrukcjami.</h5><br />
         	<%= link_to "Pokaż mi moje instrukcje", user_instructions_path(current_user), class: "btn btn-primary btn-lg"%>
 		</div>

 		</div>


<% end %>