
<div class="col-lg-13 col-md-pull-1">
<div class = "panel panel-primary">
	<div class="panel-heading">
     <h3 class="panel-title">Users</h3>
    </div>
    <br /><br />
<div class="row text-center pagination-centered">
<%= link_to( {:action => 'new'}, :class => 'action new', class: "btn btn-success") do %>
<i class="glyphicon glyphicon-plus">Add New User</i>
<% end %><br /><br /></div>
    <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="true" href="#firmy" data-toggle="tab">Firmy</a></li>
                <li class=""><a aria-expanded="false" href="#osoby" data-toggle="tab">Osoby Prywatne</a></li>
              </ul>
    <div class="panel-body">
    	<div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="firmy">
	<table class = "table table-striped table-hover" id="users" >
		<thead>
		<tr>
			<th>Email</th>
			<th>Last Name</th>
			<th>Organization Name</th>
			<th>NIP</th>
			<th>Phone</th>
			<th>Mobile Phone</th>
			<th>Actions</th>
			<th>Equipment</th>
			<th>Instructions</th>	
			<th>Mailing</th>
		</tr>
		
		</thead>

		<tbody>
		<% @organization.each do |f| %>
		<% if f.admin? %>
		<tr class="danger">
			<td><%= f.email %></td>
			<td><%= f.lastname %></td>
			<td><%= f.organization_name %></td>
			<td><%= f.NIP %></td>
			<td><%= f.phone %></td>
			<td><%= f.mobile_phone %></td>
			<td>
				<%= link_to("", {:action => 'show', :id => f.id}, :class => 'action show', class: "btn btn-info btn-xs glyphicon glyphicon-info-sign") %>
				<%= link_to( "", {:action => 'edit', :id => f.id}, :class => 'action edit', class: "btn btn-warning btn-xs glyphicon glyphicon-pencil") %>
				<%= link_to '', f, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-danger btn-xs glyphicon glyphicon-trash" %>
			</td>
			<td><%= link_to "", new_user_service_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_services_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_user_instruction_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_instructions_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_info_path(:id => f.id), class: "btn btn-default btn-xs glyphicon glyphicon-envelope"%>
			</td>
		</tr>
		<% else %>
		<tr>
			<td><%= f.email %></td>
			<td><%= f.lastname %></td>
			<td><%= f.organization_name %></td>
			<td><%= f.NIP %></td>
			<td><%= f.phone %></td>
			<td><%= f.mobile_phone %></td>
			<td>
				<%= link_to("", {:action => 'show', :id => f.id}, :class => 'action show', class: "btn btn-info btn-xs glyphicon glyphicon-info-sign") %>
				<%= link_to( "", {:action => 'edit', :id => f.id}, :class => 'action edit', class: "btn btn-warning btn-xs glyphicon glyphicon-pencil") %>
				<%= link_to '', f, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-danger btn-xs glyphicon glyphicon-trash" %>
			</td>
			<td><%= link_to "", new_user_service_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_services_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_user_instruction_path(f), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_instructions_path(f), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_info_path(:id => f.id), class: "btn btn-default btn-xs glyphicon glyphicon-envelope"%>
			</td>
		</tr>
		<% end %>

		<% end %>
		</tbody>
	</table>
	</div>

	<div class="tab-pane fade" id="osoby">

		<table class = "table table-striped table-hover" id="users1" >
		<thead>
		<tr>
			<th>Email</th>
			<th>Last Name</th>
			<th>Phone</th>
			<th>Mobile Phone</th>
			<th>Actions</th>
			<th>Equipment</th>
			<th>Instructions</th>
			<th>Mailing</th>
		</tr>
		</thead>

		<tbody>
		<% @private_person.each do |o| %>
		<tr>
			<td><%= o.email %></td>
			<td><%= o.lastname %></td>
			<td><%= o.phone %></td>
			<td><%= o.mobile_phone %></td>
			<td>
				<%= link_to("", {:action => 'show', :id => o.id}, :class => 'action show', class: "btn btn-info btn-xs glyphicon glyphicon-search") %>
				<%= link_to("", {:action => 'edit', :id => o.id}, :class => 'action edit', class: "btn btn-warning btn-xs glyphicon glyphicon-pencil")%>
				<%= link_to '', o, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-danger btn-xs glyphicon glyphicon-trash" %>
			</td>
			<td><%= link_to "", new_user_service_path(o), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_services_path(o), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_user_instruction_path(o), class: "btn btn-success btn-xs glyphicon glyphicon-plus"%>
				<%= link_to "", user_instructions_path(o), class: "btn btn-info btn-xs glyphicon glyphicon-search"%>
			</td>
			<td><%= link_to "", new_info_path(:id => o.id), class: "btn btn-default btn-xs glyphicon glyphicon-envelope"%>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
	</div>
</div>
<div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div>
</div></div></div>
</div>