<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link', class: "btn btn-info") %>
<br /><br /><br />
		<div class="panel panel-info">
        <div class="panel-heading">User details</div>
        <div class="panel-body">

	<table class = "table table-striped table-hover">
		<tr>
			<th>ID:</th>
			<td><%= @user.id %></td>
		</tr>
		<tr class="active">
			<th>Name:</th>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<th>Last Name:</th>
			<td><%= @user.lastname %></td>
		</tr>
		<tr  class="active">
			<th>E-mail:</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Organization Name:</th>
			<td><%= @user.organization_name %></td>
		</tr>
		<tr  class="active">
			<th>REGON:</th>
			<td><%= @user.REGON %></td>
		</tr>
		<tr>
			<th>NIP:</th>
			<td><%= @user.NIP %></td>
		</tr>
		<tr  class="active">
			<th>Phone:</th>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<th>Mobile Phone:</th>
			<td><%= @user.mobile_phone %></td>
		</tr>
		<tr  class="active">
			<th>Postcode:</th>
			<td><%= @user.postcode %></td>
		</tr>
		<tr>
			<th>Street:</th>
			<td><%= @user.street %></td>
		</tr>
		<tr  class="active">
			<th>Town:</th>
			<td><%= @user.town %></td>
		</tr>
	</table>
	<p><strong>Description:</strong></p><br />
	<p><%= @user.description %></p>
                </div>
              </div>