<%= link_to( {:action => 'index'}, :class => 'back-link', class: "btn btn-primary") do %>
<i class="glyphicon glyphicon-chevron-left">&nbsp;Powrót do listy</i>
<% end %>
<br /><br />
		<div class="panel panel-info">
        <div class="panel-heading">Dane Użytkownika:</div>
        <div class="panel-body">

	<table class = "table table-striped table-hover">
		<tr>
			<th>ID:</th>
			<td><%= @user.id %></td>
		</tr>
		<tr class="active">
			<th>Imię:</th>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<th>Nazwisko:</th>
			<td><%= @user.lastname %></td>
		</tr>
		<tr  class="active">
			<th>E-mail:</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Nazwa firmy:</th>
			<td><%= @user.organization_name %></td>
		</tr>
		<tr  class="active">
			<th>REGON:</th>
			<td><%= @user.REGON %></td>
		</tr>
		<tr>
			<th>NIP:</th>
			<td><%= @user.NIP %></td>
		</tr>
		<tr  class="active">
			<th>Telefon:</th>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<th>Telefon komórkowy:</th>
			<td><%= @user.mobile_phone %></td>
		</tr>
		<tr  class="active">
			<th>Kod pocztowy:</th>
			<td><%= @user.postcode %></td>
		</tr>
		<tr>
			<th>Ulica:</th>
			<td><%= @user.street %></td>
		</tr>
		<tr  class="active">
			<th>Miasto:</th>
			<td><%= @user.town %></td>
		</tr>
		<tr>
			<th>Admin?:</th>
			<td><%= @user.admin %></td>
		</tr>
	</table>
	<p><strong>Dodatkowy opis:</strong></p><br />
	<p><%= @user.description.gsub(/\n/, '<br/>').html_safe %></p>
                </div>
              </div>