<h1>Twoje pytanie:</h1>
<%= form_for @contact do |f| %>

<div class="well bs-component">
<div class="hidden_contact">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, class: "form-control", value: [current_user.name, current_user.lastname]%>
  </div>

  <br />

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true, class: "form-control", value: current_user.email %>
  </div>
  </div>

  <br />


        <div class="field">
    <%= f.label :service %><br>
    <%= f.select_tag :service, options_from_collection_for_select(current_user.services, "id", "name"), class: "form-control" %>
    </div>


  <br />

   <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, required: true, rows: 10, cols: 25, class: "form-control" %>
  </div>

  <br />

  <div class="hidden_contact">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: 'Leave it blank', class: "form-control" %>
  </div>

  <div class = "form-buttons">
    <%= submit_tag("Wyślij wiadomość", class: "btn btn-success") %>
  </div> </div>
<% end %>