<h2> Witaj <%= @user.name%></h2>
<br />

<p>Administator właśnie dodał nową paczkę instalacyjną do urządzenie <%= @service.name%>, aby zobaczyć więcej szczegółów kliknij w ten <%= link_to("link", service_packages_url(@package.service, @package)) %>.</p>
<br />
<p>Informacje na temat nowej paczki instalacyjnej:</p>
<p>Nazwa: <strong><%= @package.name%></strong></p>
<p>Opis: <strong><%= @package.description%></strong></p>
<p>Link: <strong><%= link_to(@package.link, @package.link) %></strong></p>

<br />

<p>W razie problemów z logowanie prosimy o kontakt pod numerem telefonu 696-488-524, lub mailowo na adres - <a href="m.osowski@grune.pl">m.osowski@grune.pl</a></p>

<br />

<h3>Pozdrawiam serdecznie <br />
Administrator serwisu Grune</h3>