<!DOCTYPE html>
<html>
<head>
  <meta name="turbolinks-cache-control" content = "no-cache">
  <title>ClientManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<div class="container">
      <br />
      <br /><br /><br />
       <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      


<%= nav_bar :fixed => :top, brand: "Client Management System", :responsive => true, :class => "navbar navbar-inverse"  do %>
    <%= menu_group do %>
        <%= menu_item "Users", users_path%>
        <%= menu_item "List of Equipment", services_path%>
     <% end %>
     <%= csrf_meta_tags %>

   <p class="navbar-text pull-right">
    <% if user_signed_in? %>
  <FONT COLOR="#064a6c">Logged in as </FONT><FONT COLOR="#064a6c"><strong><%= current_user.email %></strong></FONT>&nbsp;&nbsp;&nbsp;
  <%= link_to "Log out", destroy_user_session_path, :method => :delete , :class => 'navbar-link'  %>
    <% else %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <% end %>


  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
